<html>
    <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/nav.ejs')%>

    <div>
        <h2>About us</h2>
        <p>blog platform</p>
    </div>
    <%- include('./partials/footer.ejs')%>

  </body>
</html>
